*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 35em) {
  html {
    font-size: 47%;
  }
}

@media only screen and (max-width: 30em) {
  html {
    font-size: 44%;
  }
}

.container {
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] ([col-start] minmax(min-content, 1fr) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  -ms-grid-rows: 100vh (min-content)[4];
      grid-template-rows: 100vh repeat(4, -webkit-min-content);
      grid-template-rows: 100vh repeat(4, min-content);
}

@media only screen and (max-width: 35em) {
  .container {
    -ms-grid-columns: [full-start] minmax(2.5rem, 1fr) [center-start] ([col-start] minmax(min-content, 1fr) [col-end])[8] [center-end] minmax(2.5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(2.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(2.5rem, 1fr) [full-end];
  }
}

.header {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0px 0px 5px #000;
          box-shadow: 0px 0px 5px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  cursor: default;
}

@media only screen and (max-width: 35em) {
  .header {
    padding: 0;
  }
}

@media only screen and (max-width: 30em) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .logo img {
  height: 7rem;
}

.header .navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation__item {
  padding: 0 1.5rem;
}

.header .navigation__item:hover {
  cursor: pointer;
}

.header .navigation__item a:visited,
.header .navigation__item a:link,
.header .navigation__item a:active,
.header .navigation__item a:link {
  text-decoration: none;
  color: #000;
}

.story {
  grid-column: center-start / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 8rem 0;
}

@media only screen and (max-width: 81.25em) {
  .story {
    padding: 2.5rem 0;
    grid-column: full-start / full-end;
  }
}

.story__heading {
  text-align: center;
}

.story__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story__input .btn {
  background: #6c6c6e;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}

.story__input .btn--primary {
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 22px 36px;
}

.story__input .btn--primary:active {
  -webkit-box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.story__input .form {
  margin: 5rem 0;
}

.story__input .form__field {
  width: 360px;
  background: #fff;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.363);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.363);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  font-size: 2rem;
  margin-right: 3rem;
}

.contact {
  grid-column: center-start / center-end;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  padding: 2.5rem 0;
  margin: 8rem;
}

.contact__heading {
  text-align: center;
}

.contact__body {
  padding: 5rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
}

.contact .icon {
  width: 5rem;
}

.landscape {
  grid-column: full-start / full-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(140, 148, 149, 0.8)), to(rgba(140, 148, 149, 0.8))), url(../img/kh_landscape.jpg);
  background-image: linear-gradient(rgba(140, 148, 149, 0.8), rgba(140, 148, 149, 0.8)), url(../img/kh_landscape.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  letter-spacing: .3rem;
}

.landscape_logo img {
  width: 40rem;
}

.project {
  grid-column: center-start / center-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5rem 0;
}

.project__heading {
  text-align: center;
}

@media only screen and (max-width: 35em) {
  .project {
    grid-column: full-start / full-end;
    padding: 2.5rem;
  }
}

.web {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
  padding: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .web {
    padding: 2rem;
  }
}

@media only screen and (max-width: 100em) {
  .web {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 30em) {
  .web {
    padding: 0 0 1rem 0;
    margin-top: 3.5rem;
  }
}

.web__image {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.web__image a:visited,
.web__image a:link,
.web__image a:active,
.web__image a:link {
  text-decoration: none;
  color: #fff;
}

.web__image img {
  width: 55rem;
  height: 31rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 100em) {
  .web__image img {
    width: 100%;
  }
}

@media (hover: hover) {
  .web__image:hover .linkVisit {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    background-color: #3a3636;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0;
  }
  .web__image:hover img {
    border: 5px solid #fff;
  }
  .web__image:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.web__image .linkVisit {
  width: 80%;
  height: 40%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 5rem;
  background-color: rgba(58, 54, 54, 0.918);
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 10px white;
          box-shadow: 0px 0px 15px 10px white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 30em) {
  .web__image .linkVisit {
    width: 100%;
    font-size: 3.5rem;
  }
}

.web__image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (hover: hover) {
  .web__image .overlay:hover {
    background-color: rgba(141, 133, 128, 0.384);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.411);
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.411);
  }
}

.web__info {
  padding: 0 2.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.web__info__heading {
  text-align: center;
}

@media only screen and (max-width: 100em) {
  .web__info__heading {
    margin-top: 2rem;
  }
}

.web__info__description {
  font-size: 2.5rem;
  text-align: justify;
}

.web__info a:visited,
.web__info a:link,
.web__info a:active,
.web__info a:link {
  color: #000;
}

.technologyTable {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technologyTable .card {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologyTable .card__body img {
  width: 10rem;
}

footer {
  grid-column: full-start / full-end;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.line {
  width: 50rem;
  height: 2px;
  margin: 0 auto;
}

.line--w {
  background-color: #000;
}

.line--b {
  background-color: #626281;
  margin: 0 auto;
}

.heading--l {
  font-size: 6rem;
}

.heading--m {
  font-size: 4.5rem;
}

.heading--s {
  font-size: 3rem;
}

.ta-c {
  text-align: center;
}

.mb-s {
  margin-bottom: 2.5rem;
}

.mt--m {
  margin-top: 3rem;
}

.about {
  padding: 5rem 0;
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media only screen and (max-width: 35em) {
  .about {
    padding: 2.5rem 0;
  }
}

.about__heading {
  text-align: center;
}

.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  margin: 5rem auto;
  line-height: 5rem;
  padding: 5rem 10rem;
}
