.about {
  padding: 5rem 0;
  grid-column: full-start / full-end;
  grid-row: 3/4;

;


  @media only screen and (max-width: $bp-small){
    padding: 2.5rem 0;
  }

  &__heading {
    text-align: center;
  }

  &__article {
    background-image: linear-gradient(rgba(182, 185, 185, 0.8), rgba(182, 185, 185, 0.8)), url(../img/cider_landscape.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    margin: 5rem auto;
    line-height: 8rem;
    letter-spacing: .2rem;
    min-height: 60vh;
    padding: 5rem 10rem;

    // box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.432);

  }
}
