.contact {
    grid-column: full-start / full-end;
    grid-row: 5/6;
    padding: 2.5rem 0;
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    &__heading {
        text-align: center;
    }

    &__body {
        margin-top: 5rem;
        padding: 5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 3rem;
        min-height: 60vh;
        background-image: linear-gradient(rgba(140, 148, 149, 0.8), rgba(140, 148, 149, 0.8)), url(../img/ss_pack.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        & > * {
            margin-top: 2rem;
        }
    }

    .icon {
        width: 5rem;
    }

}