.header {
    height: 7rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 2.5rem;
    padding:0 2rem;
    box-shadow: 0px 0px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    cursor: default;

    @media only screen and (max-width: $bp-small){
        padding: 0;
    }

    .logo {
        img {
            height: 7rem;
        }

        @media only screen and (max-width: $bp-min){
            display: none;
        }
    }

    .navigation {
        list-style: none;
        display: flex;
        
        &__item {
            padding: 0 1.5rem;
            transition: all .3s;

            @media only screen and (max-width: $bp-min) {
                padding: 0 1rem;
            }

           &:hover {
               cursor: pointer;
               color: rgb(179, 161, 161);
           }
            
            a:visited,
            a:link,
            a:active,
            a:link {
                text-decoration: none;
                color: $text-grey;
                
            }
        }

        
    }

    .language {
        list-style: none;
        display: flex;

        &__item {
            padding: 0 1.5rem;

            @media only screen and (max-width: $bp-min) {
                padding: 0 1rem;
            }
        }

       

        a:visited,
        a:active,
        a:link {
                text-decoration: none;
                color: $text-grey;
                transition: all .3s;
                &:hover {
                    color: rgb(179, 161, 161);
                }
            }
    }
}