.landscape {
    grid-column: full-start / full-end;
    grid-row: 1/2;
    
    background-image: linear-gradient(rgba(140, 148, 149, 0.8), rgba(140, 148, 149, 0.8)), url(../img/kh_landscape.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    letter-spacing: .3rem;

    &_logo {
        img {
            width: 40rem;
        }
    }
    

    // &__scroll {
    //     color: #fff;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     cursor: pointer;

    //     &__icon {
    //         font-size: 15rem;
    //         display: block;
    //         transition: transform .4s;
    //         width: 10rem;

    //         @media (hover: hover) {
    //             &:hover {
    //             transform: scale(1.2) translateY(1rem);
    //             }
    //         }
            

    //     }
    // }
}
