.story {
  grid-column: center-start / center-end;
  grid-row: 2/3;
  padding: 8rem 0;

  @media only screen and (max-width: $bp-big){
    padding: 2.5rem 0;
    grid-column: full-start / full-end;
  }


  &__heading {
    text-align: center;
  }
}

.story__input {

  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    background: rgb(108, 108, 110);
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    
    &--primary {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
      border-radius: 2px;
      padding: 22px 36px;
      
      &:active {
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
      }
    }
    
  }
  
  //** form
  .form {
    margin: 5rem 0;	
    &__field {
      width: 360px;
      background: #fff;
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.363);
      border: 0;
      outline: 0;
      padding: 22px 18px;
      font-size: 2rem;
      margin-right: 3rem;
    }
  }
}


