// $text-grey: #282828;
$text-grey: #000;

$font-main: 'Roboto Condensed', sans-serif;

$color-main: rgb(75, 75, 117);

$bp-big: 86.875em;
$bp-medium: 56.25em;
$bp-small: 40.625em;
$bp-min: 29.1em;